In [4]:
#group by

import pandas as pd

In [5]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [6]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [19]:
drinks.beer_servings.mean()

106.16062176165804

In [9]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [11]:
drinks[drinks.continent=='Europe'].beer_servings.mean()

193.77777777777777

In [12]:
drinks[drinks.continent=='Europe'].beer_servings.max()

361

In [13]:
drinks[drinks.continent=='Europe'].beer_servings.min()

0

In [23]:
drinks.groupby('continent').beer_servings.agg(['count','min','max','mean'])

               count  min  max        mean
continent
Africa            53    0  376   61.471698
Asia              44    0  247   37.045455
Europe            45    0  361  193.777778
North America     23    1  285  145.434783
Oceania           16    0  306   89.687500
South America     12   93  333  175.083333